<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.center.mycode"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TestAppCompatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activity.TestCollapsingToolbarActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activity.TestFlexBoxLayoutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activity.TestPhotoViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activity.AppIntroActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarNightTheme">
        </activity>
        <activity
            android:name=".activity.TestGreenDaoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarNightTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activity.TestGreenDaoActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBarNightTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".activity.RefreshActivity"
            android:label="@string/title_activity_refresh">
        </activity>
        <activity android:name=".activity.WebviewActivity">
        </activity>
    </application>

</manifest>